/* Footer styles */

.footer {
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $secondary-bg-color;
}

.footer-main {
    margin-right: 70px;
}

.container-footer {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;

    display: flex;
    align-items: baseline;
}


.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.address-list {
    list-style-type: none;

}

.address-list .item:not(:last-child) {
    margin-bottom: 9px;
}

.address-to {
    color: $secondary-text-color;

}

.address-mail,
.address-phone {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $time-func;
}

.address-mail:hover,
.address-phone:hover,
.address-mail:focus,
.address-phone:focus {
    color: $accent-color;
}

.footer__logo{
    margin-bottom: 20px;

    color: #ffffff;
}

.footer__social__header {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer__social__icon {
    fill: #FFFFFF;
}

.footer__social__link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: $time-func;

}

.footer__social__link:focus,
.footer__social__link:hover {
    background-color: $accent-color;
}

.container-form {
    margin-left: 93px;
}

.form-with-button {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sign-up {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $secondary-text-color;
}

.form-input {
    width: 100%;
    height: 50px;
    padding-left: 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 4px;
    color: inherit;
}

.form-label {
    display: block;
    width: 358px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.form-name {
    position: absolute;
    bottom: 0;
}

.input-container {
    display: flex;
    position: relative;
}

.footer__btn {
    width: 200px;
    height: 50px;
    padding: 6px 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
        background-color: hsla(207, 90%, 54%, 0.45);
        color: hsla(0, 0%, 100%, 0.45);
    }


}



.btn-icon {
    fill: currentColor;
    margin-left: 10px;
}