/* Partners styles */

.partners {
    padding-top: 94px;
    padding-bottom: 94px;
}

.partners__header {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.partners__list {
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    gap: 30px;

    list-style-type: none;
}


.partners__link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: $time-func;

    &:hover,
    &:focus {
            border-color: $accent-color;
        }
}

.partners__logo {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $time-func;
    fill: #AFB1B8;

    .partners__link:hover &,
    .partners__link:focus & {
            fill: $accent-color;
        }
}