/* Services styles */

.services {
    padding-top: 94px;
    padding-bottom: 94px;

}

.services-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.services-list-container {
    position: relative;
    display: flex;
}

.serv-list-text {

    width: 370px;
    height: 70px;
    top: 224px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $secondary-text-color;
    background: rgba(47, 48, 58, 0.8);
}

.services-list-item:not(:last-child) {
    margin-right: 30px;
}

.services-header {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}