
    $accent-color: #2196F3;
    $main-text-color: #212121;
    $text-color: #757575;
    $secondary-text-color: #ffffff;
    $main-bg-color: #FFFFFF;
    $secondary-bg-color: #2F303A;
    $time-func: cubic-bezier(0.4, 0, 0.2, 1);

